.projects {
  display: flex;
  margin: 4rem 15%;
}

@media (max-width: 975px) {
  .projects {
    flex-direction: column;
  }
}

.header_wrapper {
  max-width: 25vw;
  flex: 0 0 260px;
  padding: 1rem 0.75rem 3rem;
  /* border-radius: 5px 0 0 5px;
  border-left: 1px solid rgba(63, 73, 103, 0.2);
  border-top: 1px solid rgba(63, 73, 103, 0.2);
  border-bottom: 1px solid rgba(63, 73, 103, 0.2); */
  color: #3f4967;
}

@media (max-width: 975px) {
  .header_wrapper {
    max-width: unset;
    flex: unset;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid rgba(63, 73, 103, 0.2);
    border-bottom: unset;
  }
}

.header {
  align-self: center;
}

.collection {
  /* background: rgba(63, 73, 103, 0.06); */
  padding: 1.5rem;
  flex: 1 1 auto;
}

.cards_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.25rem;
  grid-template-rows: auto;
  grid-row-gap: 1.25rem;
  align-items: stretch;
}

@media (max-width: 1150px) {
  .cards_body {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 975px) {
  .cards_body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project_card {
  padding: 1rem;
  background: rgba(63, 73, 103, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04),
    0 16px 16px rgba(0, 0, 0, 0.04);
}

.card_image {
  height: 10rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.stackWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-gap: 0.5rem;
  font-size: 14px;
}

.stackItem {
  display: flex;
  padding: 0.2rem;
  background-color: #fafafa;
  color: rgb(134, 146, 180);
  border-radius: 2px;
}

.card_header {
  padding: 1rem 0rem 1rem 0rem;

  color: #3f4967;
}
