.projects {
  display: flex;
  padding: 4rem 15%;
}

.inner {
  display: flex;
  /* border: 1px solid #3f4967; */
}

@media (min-width: 700px) {
  .projects {
    display: grid;
    justify-content: space-between;
    flex: 1;
  }
}

.header_wrapper {
  max-width: 25vw;
  padding: 1rem 0.75rem 3rem;
  border-radius: 5px 0 0 5px;
  border-left: 1px solid rgba(63, 73, 103, 0.2);
  border-top: 1px solid rgba(63, 73, 103, 0.2);
  border-bottom: 1px solid rgba(63, 73, 103, 0.2);
  color: #3f4967;
}

.header {
  align-self: center;
}

.collection {
  background: rgba(63, 73, 103, 0.06);
  /* border-radius: 0 0 5px 0; */
}

.project {
  padding: 1rem;
}

.images {
  display: flex;
  height: 8rem;
  align-self: center;
}

.stackWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-gap: 0.5rem;
  font-size: 14px;
}

.stackItem {
  display: flex;
  padding: 0.2rem;
  background-color: #fafafa;
  color: rgb(134, 146, 180);
  border-radius: 2px;
}

.text {
  display: grid;
  row-gap: 0.8rem;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #d9d9da;
  color: #3f4967;
}
