.projects {
  display: flex;
  padding: 4rem 15%;
}

.inner {
  display: flex;
  /* border: 1px solid #3f4967; */
}

@media (min-width: 700px) {
  .projects {
    display: grid;
    justify-content: space-between;
    flex: 1;
  }
}

.header_wrapper {
  max-width: 25vw;
  flex: 0 0 300px;
  padding: 1rem 0.75rem 3rem;
  border-radius: 5px 0 0 5px;
  border-left: 1px solid rgba(63, 73, 103, 0.2);
  border-top: 1px solid rgba(63, 73, 103, 0.2);
  border-bottom: 1px solid rgba(63, 73, 103, 0.2);
  color: #3f4967;
}

.header {
  align-self: center;
}

.collection {
  background: rgba(63, 73, 103, 0.06);
  padding: 1.5rem;
}

.cards_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.25rem;
  grid-template-rows: auto;
  grid-row-gap: 1.25rem;
  align-items: stretch;
}

.project_card {
  padding: 1rem;
  background: rgba(63, 73, 103, 0.2);
}

.card_image {
  height: 10rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.stackWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-gap: 0.5rem;
  font-size: 14px;
}

.stackItem {
  display: flex;
  padding: 0.2rem;
  background-color: #fafafa;
  color: rgb(134, 146, 180);
  border-radius: 2px;
}

.card_header {
  padding: 1rem 0rem 1rem 0rem;

  color: #3f4967;
}
