.images {
  height: 18rem;
  align-items: center;
}

.stackWrap {
  display:grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  grid-auto-rows: minmax(6rem, max-content);
  grid-gap: .5rem;
  font-size: 14px;
  padding-top: .4rem;
}

.stackItem {
  padding: .4rem;
  max-height: 2rem;
  background-color: #D5B386;
  color: #FAFAFA;
  border-radius: 5px;
}

.text {
  padding: 1rem;
}

@media(max-width: 1333px) {
  .projectCard {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .projectCard {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .projectCard {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .projectCard {
    flex-basis: 100%;
  }
}