.projects {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 2rem;
  /* grid-auto-rows: minmax(20px, auto); */
  background-color: #FFFFFF;
}

.wrapper > div {
  padding: 1.5rem;
  border: 1px lightgray solid;
  background: #FFFFFF;
}

@media (min-width: 700px) {
  .projects {
    display: grid;
    flex-flow: row wrap;
    justify-content: flex-start;
    border: 4px rgb(205, 207, 218) solid;
    margin: 2rem;
  }
}

