.project {
  padding: 1rem;
}
.images {
  display:flex;
  height: 8rem;
  align-self: center;
}

.stackWrap {
  display:grid;
  grid-template-columns: repeat( auto-fill, minmax(4rem, 1fr) );
  grid-gap: .5rem;
  font-size: 14px;
}

.stackItem {
  display: flex;
  padding: .2rem;
  background-color: #fafafa;
  color:  rgb(134, 146, 180);
  border-radius: 2px;
}

.text {
  display: grid;
  row-gap: .8rem;
  padding: 1rem 0rem 1rem 0rem;
  background-color:#D9D9DA;
  color: #3F4967;
}