.container { 
  border: 2px solid white;
  padding: 2rem;
  color: white;
  /* The values for padding are: top, right, bottom, left */
  padding: 2rem 0rem 2rem 0rem;
}
.icon {
  height: 80px;
}
.text {
  flex: 5
}
.spacer {
  flex: .4;
}