.cards-container {
  display: grid;
  justify-content: center;
  color: white;
  margin-left: 4rem;
}
.skills-section {
  display: flex;
  background-color: #3f4967;
  padding: 10% 15% 3% 15%;
}
.summary {
  align-self: center;
  color: #fafafa;
}

.label {
  color: #fafafafa;
  font-weight: 600;
  font-size: 40px;
}

.text {
  color: #fafafafa;
  font-weight: 400;
  font-size: 16px;
  max-width: 18rem;
  margin-top: 1rem;
}

/* *** Begin Tablet Size *** */

@media (max-width: 1024px) {
  .skills-section {
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
  }
  .summary {
    padding: 14rem 8% 0rem 8%;
    text-align: center;
  }
  .text {
    text-align: left;
  }
  .cards-container {
    padding: 3rem 8% 0rem 8%;
  }
}

.container {
  color: #fafafa;
}

.icon {
  width: 6rem;
  max-width: 6rem;
  margin-right: 2rem;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.excerpt {
  font-size: 16px;
  font-weight: 300;
}

/* *** Begin Mobile Size *** */

@media (max-width: 414px) {
  .container {
    padding: 0;
    margin: 0;
  }
  .skills-section {
    display: block;
    padding: 0;
  }
  .summary {
    padding: 130px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    max-width: 80%;
  }
}
