.cards-container {
  display: grid;
  justify-content: center;
}
.skills-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #3f4967;
  padding: 9rem 6rem 4rem 6rem;
}
.summary {
  align-self: center;
  color: #fafafa;
}

.label {
  color: #fafafafa;
  font-weight: 600;
  font-size: 40px;
}

.text {
  color: #fafafafa;
  font-weight: 400;
  font-size: 16px;
  max-width: 18rem;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .skills-section {
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
  }
  .summary {
    padding: 14rem 8% 0rem 8%;
    text-align: center;
  }
  .text {
    text-align: left;
  }
  .cards-container {
    padding: 3rem 8% 0rem 8%;
  }
}
