.container { 
  border: 2px solid #FAFAFA;
  color: #FAFAFA;
  /* The values for padding are: top, right, bottom, left */
  padding: 2rem 1rem 0rem 2rem;
  margin-bottom: 1rem;
}

.icon {
  align-self: center;
  justify-self: center;
}
.text {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem 1rem 0rem 0rem;
  }

}