.cards-container {
  align-self: center;
}
.skills-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 6rem;
  background-color: rgb(134, 146, 180);
  padding: 6rem 8rem 2rem 8rem;
}
.summary {
  align-self: center;
  color: #FAFAFA;
}

@media (max-width: 800px) {
  .skills-section {
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
  }
  .summary {
    padding: 14rem 8% 0rem 8%;
    text-align: center;
  }
  .text {
    text-align: left;
  }
  .cards-container {
    padding: 3rem 8% 0rem 8%;
  }
}