.cards-container {
  flex: 1.5;
  padding: 8rem 8% 0rem 8%;
}
.skills-section {
  background-color: #3F4967;
  display: flex;
  justify-content: space-between;
  padding: 0rem 12rem 0rem 12rem;
}
.summary {
  flex: 1;
  align-self: center;
  padding: 14rem 6% 4rem 6%;
  justify-content: right;
  color: #FAFAFA;
}

@media (max-width: 800px) {
  .skills-section {
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
  }
  .summary {
    padding: 14rem 8% 0rem 8%;
    text-align: center;
  }
  .text {
    text-align: left;
  }
  .cards-container {
    flex: 1;
    padding: 3rem 8% 0rem 8%;
  }
}