.container {
  background-color: #FAFAFAFA;
  /* The values for padding are: top, right, bottom, left */
  padding: 4rem 18% 0rem 18%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  padding: 4rem 0rem 0rem 0rem;
  align-items: baseline;
  color: #3F4967;
}

.selfy-container {
  padding: 6rem 3rem 0rem 3rem;
  order: 1;
  flex: 1;
}

.about-info {
  padding: 0rem 0rem 0rem 0rem;
  order: 2;
}

@media(max-width: 515px) {
  .container {
    flex: 1;
  }
  .about-info {
    margin: none;
    flex: 1;
  }
  .container {
    background-color: #FAFAFAFA;
    /* The values for padding are: top, right, bottom, left */
    padding: 4rem 10% 0rem 10%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .selfy-container {
    padding: 4rem 3rem 0rem 3rem;
    order: 1;
    flex: 1;
  }
}