.projectCard {
  flex-basis: 20%;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid grey;
  -ms-flex: auto;
  flex: auto;
  margin: 1rem;
}

.stackWrap {
  display:  flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
}

.stackItem {
  flex: 1;
  padding: .2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid white;
  background-color: rgb(146, 147, 151);
  color: #FAFAFA;
  border-radius: 5px;
}

@media(max-width: 1333px) {
  .projectCard {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .projectCard {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .projectCard {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .projectCard {
    flex-basis: 100%;
  }
}