.projects {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

@media (min-width: 800px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 4px rgb(205, 207, 218) solid;
    margin: 2rem;
  }
}

