.cards-container {
  flex: 2;
  padding: 8rem 8% 0rem 8%;
}
.skills-section {
  background-color: #3F4967;
  display: flex;
  justify-content: space-between;
}
.summary {
  flex: 1;
  align-self: center;
  padding: 14rem 6% 4rem 6%;
  justify-content: right;
  color: #FAFAFA;
}