.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem;
}

.deck {
  background-color: lightgoldenrodyellow;
  padding: 1rem;
}

.label {
  display: grid;
  align-content: center;
  padding: 1rem;
  background-color: lightskyblue;
}