.card {
  font-size: 14px;
}

.cardImage {
  height: 8rem;
}

.skills {
  background-color: brown;
  font-size: 12px;
  color: #fafafa;
  margin: 0.5rem 0.3rem 0 0.3rem;
  border-radius: 3px;
}
.cardTitle {
  font-size: 18px;
  font-weight: 700;
  color: rgb(63, 75, 112);
}

.cardSubtitle {
  font-size: 14px;
  color: rgb(156, 151, 151);
}

.excerpt {
  font-size: 16px;
}
