.card {
  font-size: 14px;
  padding: .6rem;
}

.cardImage {
  height: 8rem;
}

.skill {
  background-color: brown;
  font-size: 12px;
  color: #FAFAFA;
  margin: .5rem .3rem 0 .3rem;
  padding: .2rem;
  border-radius: 3px;
}
.cardTitle {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.cardSubtitle {
  font-size: 14px;
  color: rgb(156, 151, 151);
}

.excerpt {
  font-size: 16px;
}